---
import { getCollection } from 'astro:content';

const posts = await getCollection('posts');
---

<h1>Blog Posts</h1>
<ul>
  {posts.map(({ slug, data }) => (
    <li>
      <a href={`/blog/${slug}`}>
        <strong>{data.title}</strong> - {data.date.toLocaleDateString()}
      </a>
    </li>
  ))}
</ul>

